@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lunasima&display=swap');
font-family: 'DM Sans', sans-serif;
font-family: 'Lunasima', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 1rem;
}

.cabecalho-imagem{
    margin: 0 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho{
    gap: 2em;
}

.cabecalho-menu-item {
    font-family: 'DM Sans', sans-serif;
    color: #006032;
    font-weight: 700; 
    font-size: 1.25em;
    justify-content: space-around;
    gap: 5em;
}

.a {
    color: #006032;
} */