@import url('https://fonts.googleapis.com/css2?family=Chivo&family=DM+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Chivo', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho-imagem {
    margin: 0 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-imagem-logo {
    width: 18em;
}

ul{
    display: flex;
    justify-content: center;

}

nav li{
    display: inline-block;
}

nav li a{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    color: #006032;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
}

nav li a:hover{
    color:#7ed957;
}

.dropdown-menu{
    background-color: white;
    position: absolute;
    display: none;
}

.dropdown-menu a{
    display: block;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #006032;
    border: 0.5px solid #006032;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

a{
    color: #006032;
}

/* a:hover{
    color: black;
} */

.principal {
    border-top: 0.5px solid #006032;
}

.principal-acao {
    background-color: #c1ff72;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0em 10em;
}

.principal-acao-texto {
    /* padding: 5em; */
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.principal-acao-texto-titulo {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #006032;
    align-items: center;
}
.principal-acao-texto-subtitulo {
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding: 0m 0m 1em 1em;
}

.principal-acao-texto-botao {
    background-color: #7ed957;
    width: 8em;
    height: 2em;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.2em;
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #006032;
    cursor: pointer;
    
}

.principal-acao-texto-botao:hover  {
    background-color: #006032;
    color: black;
}

.principal-acao-texto-botao:hover a {
    background-color: #006032;
    color: black;
}

.principal-acao-imagem {
    height: 31em;
}

.secao {
    margin: 0em 3em 3em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 1em;
    padding: 0em 12em;
}

.secaos {
    margin: 0em 3em 3em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 1em;
    padding: 0em 7em;
}

.secao-titulo {
    margin: 0;
    padding-top: 1em;
    border-top: 0.5px solid #006032;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #006032;
    margin-bottom: 0.5em;
}

.secao-titulos {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #006032;
    margin-bottom: 0.5em;
}

.secao-paragrafo {
    font-family: 'Chivo', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}

.secao-paragrafos {
    font-family: 'Chivo', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}

.secao-paragrafos {
    font-family: 'Chivo', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    text-align: justify;
}

.principal-sobre {
    border-top: 0.5px solid #006032;
    background-color: #d9d9d9;
}
.principal-sobre-projeto {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0em 9.5em;
}

.principal-sobre-projeto-imagem {
    margin-top: 2em;
    height: 10em;
}

.principal-sobre-projeto-titulo {
    margin: 0em 0em 1em 0em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #006032;
    text-align: justify;
}

.principal-sobre-projeto-texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.principal-sobre-projeto-texto-parágrafo {
    margin: 0.5em;
    text-align: justify;
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}
.principal-sobre-projeto-texto-parágrafos {
    margin: 0.5em 0.5em 1.5em 0.5em;
    text-align: justify;
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}


.principal-vacinas {
    border-top: 0.5px solid #006032;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.principal-vacinas-secao {
    margin: 1.5em;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border: 0.5px solid #006032;
    text-align: justify;
}

.principal-vacinas-secao-titulo {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #006032;
    text-align: justify;
}

.principal-vacinas-secao-descricao {
    
}

.principal-vacinas-secao-descricao-parágrafo {
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: 0.3em;
}

.principal-carteirinha {
    border-top: 0.5px solid #006032;
    display: flex;
    flex-direction: column;
    
}



.principal-referencias{
    background-color: #d9d9d9;
    border-top: 0.5px solid #006032;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 2em;
}

.principal-referencias-botao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.principal-referencias-botao-todos {
    background-color: #7ed957;
    width: 10em;
    height: 2em;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.2em;
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #006032;
}

.principal-referencias-imagem{
    width: 20em;
    /* padding: 2em; */
}

.principal-referencias-botao-todos:hover {
    background-color: #006032;
    color: black;
}

.principal-blog-imagem{
    display: block;
    margin: 0 auto;
}

.principal-blog-imagem{
    width: 13em;
}





.principal-duvidas-imagem {
    width: 10em;
}

.principal-carteirinha-formulario {
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.principal-carteirinha-formulario-cadastro {
    gap: 1em;
}

.principal-carteirinha-formulario-cadastro-digitar {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #006032;
}

.principal-carteirinha-formulario-cadastro-digitar-input {
    border: 2px solid #006032;
}

.principal-carteirinha-formulario-cadastro-botao {
    background-color: #7ed957;
    width: 6em;
    height: 2em;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.2em;
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #006032;
}

.principal-carteirinha-formulario-cadastro-botao:hover{
    background-color: #006032;
    color: black;
}

.principal-carteirinha-formulario-imagem-carteira {
    width: 15em;
    padding: 0em 2em 0em 0em;
}

.principal-carteirinha-formulario-cadastro {
    display: flex;
    flex-direction: column;
}

.principal-carteirinha-resultado {
    display: flex;
    justify-content: center;
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #006032;
    margin-bottom: 1em;
}



.principal-carteirinha-titulo {
    margin-top: 1em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #006032;
    text-align: center;
}

.principal-carteirinha-resultado {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #006032;
    text-align: center;
}

.principal-duvidas{
    background-color: #d9d9d9;
    padding: 2em 4em;
    border-top: 0.5px solid #006032;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 25em;

}

.principal-duvidas-imagem-procura{
    width: 30em;
}

.principal-duvidas-pergunta-secao{
    padding: 0.5em;
    text-align: justify;
}

.principal-duvidas-pergunta-secao-pergunta{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.3em;
    color: #006032;
}

.principal-duvidas-pergunta-secao-resposta{
    font-family: 'Chivo', sans-serif;
    font-size: 1em;
}



.principal-carteirinha-resultado {
    margin: 0;
    border-top: 0.5px solid #006032;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #006032;
}

.principal-blog{
    border-top: 0.5px solid #006032;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.4em;
}

.principal-blog-titulo{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #006032;
    text-align: justify;
}

.principal-blog-imagem{
    width: 15em;
}

.principal-blog-contato{
    font-family: 'Chivo', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.principal-blog-contato-nome{
    width: 40em;
    height: 3em;
}

.principal-blog-contato-email{
    width: 40em;
    height: 3em;
}

.principal-blog-contato-mensagem{
    width: 40em;
    height: 15em;
}

.rodape {
    background-color: #006032;
    padding: 0.6em;
    border-top: 0.5px solid #006032;
    align-items: center;
    display:flex;
    flex-direction: column;
    
}

.rodape-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
}
.rodape-texto2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.5em 0em;
}

.rodape-imagem{
    width: 10em;
}

.rodape-links{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
}

.carteirinhaContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 2rem;
    width: 90%;
    margin: 0 auto;
}

.card {
    background-color: #d9d9d9;
    color: #006032;
    border: 0.5px solid #006032;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: justify;
}

.card-h3 {
    font-family: 'DM Sans', sans-serif;
}

.card-h {
    font-family: 'Chivo', sans-serif;
}

.card-check {
    background: #7ed957;
    color: white;
}

.card-check{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: #7ed957;
    height: 16px;
    width: 16px;
    border: 1px solid #006032;
    color: #7ed957;
}

input[type="checkbox"]:after {
    content: ' ';
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #006032;
    border-width: 0 2px 2px 0;
    transform: rotate(50deg);
    display: none;
}

input[type="checkbox"]:checked:after {
    display: block;
}

.div-check {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

/* font-family: 'Chivo', sans-serif;
font-family: 'DM Sans', sans-serif; */