@import url('https://fonts.googleapis.com/css2?family=Chivo&family=DM+Sans&display=swap');
font-family: 'Chivo', sans-serif;
font-family: 'DM Sans', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    font-size: 1rem;
}

.cabecalho-imagem{
    margin: 0 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-imagem-logo{
    width: 18em;
}

.cabecalho-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cabecalho-menu-navegacao{
    margin: 0.5em;
}

.cabecalho-menu-navegacao-item{
    padding: 1em;
    font-family: 'DM Sans', sans-serif;
    color: #006032;
    font-weight: 400; 
    font-size: 1.25em;
    gap: 40em;
    cursor: pointer;
}

.underline{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #006032;
    transition: width 0.3s,;
}

.cabecalho-menu-navegacao-item:hover .underline {
    width: 100%;
}

.principal{
    margin-bottom: 3em;
    border-top: 0.5px solid #006032;
}

.principal-sobre{
    margin-bottom: 3em;
    border-top: 0.5px solid #006032;
}

.principal-vacinas{
    margin-bottom: 3em;
    border-top: 0.5px solid #006032;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.principal-duvidas{
    margin-bottom: 3em;
    
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.principal-carteirinha{
    margin-bottom: 3em;
    border-top: 0.5px solid #006032;
    display: flex;
    flex-direction: column;
}

.principal-acao{
    background-color: #c1ff72;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding:  0em 5em;
}

.principal-sobre-acao{
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:  0em 5em;
}

.principal-vacinas-secao{
    margin: 1.5em;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border: 0.5px solid #006032;
}

.principal-acao-texto{
    display: flex;
    flex-direction: column;
}

.principal-duvidas-imagem{
    
}

.principal-sobre-acao-texto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.principal-vacinas-secao-descricao-parágrafo{
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.principal-carteirinha-formulario{
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.principal-carteirinha-formulario-cadastro{
    gap: 1em;
}

.principal-carteirinha-formulario-cadastro-digitar{
    padding: ;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    color: #006032;
}

.principal-carteirinha-formulario-cadastro-digitar-input{
    border : 0.8px solid #006032;
}

.principal-carteirinha-formulario-cadastro-botao{
    background-color: #7ed957;
    width: 6em;
    height: 2em;
    border : 0.8px solid #006032;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.2em;
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #006032;
}

.principal-carteirinha-formulario-imagem-carteira{
    width: 15em;
    padding: 0em 0em 0em 2em;
}

.principal-carteirinha-formulario-cadastro{
    display: flex;
    flex-direction: column;
}

.principal-carteirinha-resultado{
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #006032;
}

.principal-acao-texto-titulo{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #006032;
    align-items: center;
}

.principal-sobre-acao-titulo{
    margin: 1em 0em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #006032;
    text-align: justify;
}

.principal-vacinas-secao-titulo{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #006032;
    text-align: justify;
}

.principal-carteirinha-titulo{
    margin-top: 1em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #006032;
    text-align: center;
}

.principal-acao-texto-subtitulo{
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.principal-vacinas-secao-descricao{
    padding: 0;
}

.principal-sobre-acao-texto-parágrafo{
    margin: 0.5em;
    text-align: justify;
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.principal-acao-texto-botao{
    background-color: #7ed957;
    width: 8em;
    height: 2em;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.2em;
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #006032;
}

.principal-acao-imagem{
    height: 25em;
}

.principal-sobre-acao-texto-imagem{
    margin-top: 2em;
    height: 10em;
}

.secao{
    margin: 0em 3em 3em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}



.secao-titulo{
    margin: 0;
    padding-top: 1em;
    border-top: 0.5px solid #006032;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #006032;
    margin-bottom: 0.5em;
}

.secao-titulos{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #006032;
    margin-bottom: 0.5em;
}

.secao-paragrafo{
    font-family: 'Chivo', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

.rodape{
    background-color: #006032;
    padding: 0.6em;
    border-top: 0.5px solid #006032;
    align-items: center;
}

.rodape-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0.2em;
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
}